

mat-form-field {
    width: 100%;
}

.conditional-select {
    margin-left: -10px;
}


.buttonWarning {
    background-color: white !important;
    color: red !important;
    border: 2px solid #f44336 !important;
}
