<div *ngIf="modelo == 'SVM'">
    <mat-card fxLayoutAlign="center center" fxLayout="column">
        <h4>Establecer parámetros para SVM</h4>
        <mat-form-field>
            <mat-label>Parámetro de regularización</mat-label>
            <input matInput type="number" name="C Parameter" placeholder="Establecer parámetro"
                [(ngModel)]="svcParameters.C" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Función de kernel</mat-label>
            <select matNativeControl name="kernel" ngDefaultControl required [(ngModel)]="svcParameters.kernel">
                <option *ngFor="let kernel of configs.SVC.kernel" [ngValue]="kernel.id">
                    {{ kernel.desc }}
                </option>
            </select>
        </mat-form-field>
        <div *ngIf="svcParameters.kernel=='poly'" class="conditional-select">
            <mat-form-field>
                <mat-label>Grado del polinomio</mat-label>
                <input matInput type="number" name="degree" placeholder="Grado del polinomio"
                    [(ngModel)]="svcParameters.degree" required>
            </mat-form-field>
        </div>
        <mat-form-field>
            <mat-label>Función Gamma</mat-label>
            <select matNativeControl name="gamma" ngDefaultControl required [(ngModel)]="svcParameters.gamma">
                <option *ngFor="let gamma of configs.SVC.gamma" [ngValue]="gamma">
                    {{ gamma }}
                </option>
            </select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Iteraciones máximas</mat-label>
            <input matInput type="number" name="max_iter" placeholder="Establecer parámetro"
                [(ngModel)]="svcParameters.max_iter" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Random state</mat-label>
            <input matInput type="number" name="random_state" placeholder="Establecer parámetro"
                [(ngModel)]="svcParameters.random_state" required>
        </mat-form-field>
        <button mat-raised-button (click)="trainModel()" title="Todos los campos son requeridos"
            [ngClass]="{'buttonWarning': !svcParameters.C || !svcParameters.degree || !svcParameters.max_iter || !svcParameters.random_state}"
            [disabled]="!svcParameters.C || !svcParameters.degree || !svcParameters.max_iter || !svcParameters.random_state">
            Entrenar el modelo SVM
        </button>
    </mat-card>
</div>



<div *ngIf="modelo == 'MLP'">
    <mat-card fxLayoutAlign="center center" fxLayout="column">
        <h4>Establecer parámetros para MLP</h4>

        <mat-form-field>
            <input matInput type="number" name="hidden_layer_sizes" ngDefaultControl
                placeholder="Introducir cantidad de capas ocultas" [(ngModel)]="mlpParameters.hidden_layer_sizes"
                required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Función de activación</mat-label>
            <select matNativeControl name="activation" ngDefaultControl required [(ngModel)]="mlpParameters.activation">
                <option *ngFor="let activacion of configs.MLP.activation" [ngValue]="activacion.id">
                    {{ activacion.desc }}
                </option>
            </select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Solver</mat-label>
            <select matNativeControl name="solver" ngDefaultControl required [(ngModel)]="mlpParameters.solver">
                <option *ngFor="let solver of configs.MLP.solver" [ngValue]="solver">
                    {{ solver }}
                </option>
            </select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Parámetro de penalización (L2)</mat-label>
            <input matInput type="number" name="alpha" ngDefaultControl placeholder="Introducir alpha"
                [(ngModel)]="mlpParameters.alpha" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Tamaño del batch</mat-label>
            <input matInput type="number" name="batch_size" ngDefaultControl placeholder="Tamaño del batch"
                [(ngModel)]="mlpParameters.batch_size" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Ratio de aprendizaje</mat-label>
            <select matNativeControl name="learning_rate" ngDefaultControl required
                [(ngModel)]="mlpParameters.learning_rate">
                <option *ngFor="let lr of configs.MLP.learning_rate" [ngValue]="lr">
                    {{ lr }}
                </option>
            </select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Iteraciones máximas</mat-label>
            <input matInput type="number" name="max_iter" ngDefaultControl placeholder="Cantidad máxima de iteraciones"
                [(ngModel)]="mlpParameters.max_iter" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Momentum</mat-label>
            <input matInput type="number" name="momentum" ngDefaultControl placeholder="Introducir momentum"
                [(ngModel)]="mlpParameters.momentum" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Early stopping</mat-label>
            <select matNativeControl ngDefaultControl required [(ngModel)]="mlpParameters.early_stopping">
                <option *ngFor="let early_stopping of configs.MLP.early_stopping" [ngValue]="early_stopping.id">
                    {{ early_stopping.desc }}
                </option>
            </select>
        </mat-form-field>
        <button mat-raised-button (click)="trainModelMLP()" title="Todos los campos son necesarios"
            [ngClass]="{'buttonWarning': !mlpParameters.alpha || !mlpParameters.batch_size  || !mlpParameters.hidden_layer_sizes || !mlpParameters.momentum}"
            [disabled]="!mlpParameters.alpha || !mlpParameters.batch_size  || !mlpParameters.hidden_layer_sizes || !mlpParameters.momentum">
            Entrenar el modelo MLP
        </button>
    </mat-card>
</div>