<div *ngIf="modelo == 'SVM'">
    <mat-card fxLayoutAlign="center center" fxLayout="column">
        <h4>Establecer el parámetro para SVM</h4>
        <mat-form-field>
            <input matInput name="C Parameter" placeholder="Establecer parámetro" [(ngModel)]="svcParameters.C"
                required>
        </mat-form-field>
        <button mat-raised-button (click)="trainModel()">
            Entrenar el SVC
        </button>
    </mat-card>
</div>


<div *ngIf="modelo == 'MLP'">
    <mat-card fxLayoutAlign="center center" fxLayout="column" style="width: 350px;">
        <h4>Establecer parámetros para MLP</h4>

        <mat-form-field>
            <input matInput name="hidden_layer_sizes" ngDefaultControl placeholder="Introducir cantidad de capas ocultas"
                [(ngModel)]="mlpParameters.hidden_layer_sizes" required >
        </mat-form-field>

        <mat-form-field>
            <mat-label>Función de activación</mat-label>
            <select matNativeControl name="activation" ngDefaultControl required  [(ngModel)]="mlpParameters.activation">
                <option *ngFor="let activacion of configs.MLP.activation" [ngValue]="activacion" >
                    {{ activacion }}
                </option>
            </select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Solver</mat-label>
            <select matNativeControl name="solver" ngDefaultControl required [(ngModel)]="mlpParameters.solver">
                <option *ngFor="let solver of configs.MLP.solver" [ngValue]="solver">
                    {{ solver }}
                </option>
            </select>
        </mat-form-field>
        <mat-form-field>
            <input matInput name="alpha" ngDefaultControl placeholder="Introducir alpha (penalización L2)"
                [(ngModel)]="mlpParameters.alpha" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput name="batch_size" ngDefaultControl placeholder="Tamaño del batch"
                [(ngModel)]="mlpParameters.batch_size" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Ratio de aprendizaje</mat-label>
            <select matNativeControl name="learning_rate" ngDefaultControl required [(ngModel)]="mlpParameters.learning_rate">
                <option *ngFor="let lr of configs.MLP.learning_rate" [ngValue]="lr">
                    {{ lr }}
                </option>
            </select>
        </mat-form-field>
        <mat-form-field>
            <input matInput name="max_iter" ngDefaultControl placeholder="Cantidad máxima de iteraciones"
                [(ngModel)]="mlpParameters.max_iter" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput name="momentum" ngDefaultControl placeholder="Introducir momentum" [(ngModel)]="mlpParameters.momentum"
                required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Early stopping </mat-label>
            <select matNativeControl name="early_stopping" ngDefaultControl required [(ngModel)]="mlpParameters.early_stopping">
                <option *ngFor="let early_stopping of configs.MLP.early_stopping" [ngValue]="early_stopping" [(ngModel)]="mlpParameters.early_stopping">
                    {{ early_stopping }}
                </option>
            </select>
        </mat-form-field>
        <button mat-raised-button (click)="trainModelMLP()">
            Entrenar MLP
        </button>
    </mat-card>
</div>