.card-mlp {
    width: 1000px;
}

mat-form-field {
    width: 100%;
}

.conditional-select {
    margin-left: -10px;
}

/* Border */
.mat-form-field-appearance-outline .mat-form-field-outline {
    color: blue;
  }